body {
	margin:0px 0px; padding:0px;
	text-align:center;
	}
	
#page2 {
	width:500px;
	margin:0px auto;
	text-align:center;
	padding:15px;
	border:1px groove #333;
	background-color:#eff;
	}
	

#page {
	heightx: 500px; 
	borderx: blue 1px solid;
}
	
#gameborder {
	width:500px;
	margin:0px auto;
	text-align:center;
	padding:15px;
	border-radius:34px;
	-moz-border-radius:34px;
	-webkit-border-radius:34px;
	/*IE DOES NOT SUPPORT BORDER RADIUS*/
	box-shadow:0px 0px 16px #000000;
	-moz-box-shadow:0px 0px 16px #000000;
	-webkit-box-shadow:0px 0px 16px #000000;
	/*IE DOES NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
	background: linear-gradient(top, #63b0ff, #c2eeff);
	/*--OPERA & IE9 DO NOT SUPPORT GRADIENT BACKGROUNDS--*/
	background: -moz-linear-gradient(top, #63b0ff, #c2eeff);
	background: -webkit-gradient(linear, center top, center bottom, from(#63b0ff), to(#c2eeff));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b0ff', endColorstr='#c2eeff');
	/*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
	/*Element must have a height (not auto)*/
	/*All filters must be placed together*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b0ff', endColorstr='#c2eeff')";
	/*Element must have a height (not auto)*/
	/*All filters must be placed together*/
	margin-left: 100px; 
	float: left;
}
	
#canvas {
	 borderx: 1px solid black; 
	 xbackground-color: #ddd;
	 margin: auto;
	}
	
#banner {
	background-color: #333;
	color: #eee;
	margin-bottom: 20px;
	text-align: right;
	padding: 5px 40px 5px 0px;
}
	
#intro {
	font-family:"Times New Roman", Times, serif;
	font-style:normal;
	font-size:14px;
	margin-bottom: 5px;
}

#score {
	zdisplay: inline;
	xmargin-left: 365px;
	float: right;
	xborder: red solid 1px;
}

#game {
	text-align: left;
	color: #f00;
	font-family: Times, serif;
	font-weight: bold;
	width: 490px;
	xborder: blue solid 1px;
	float: left;
}

#level {
	text-align: right;
	color: #00f;
	font-family: Times, serif;
	font-weight: bold;
	width: 490px;
	float: left;
}

#level span {
	margin-right: 10px;
}

#high {
	text-align: center;
	color: purple;
	font-family: Times, serif;
	font-weight: bold;
	font-size: 16px;
	padding: 20px;
	border-radius: 34px;
	-moz-border-radius: 34px;
	-webkit-border-radius: 34px;
	/*IE DOES NOT SUPPORT BORDER RADIUS*/
	box-shadow:0px 0px 16px #000000;
	-moz-box-shadow:0px 0px 16px #000000;
	-webkit-box-shadow:0px 0px 16px #000000;
	/*IE DOES NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
	background: linear-gradient(top, #EEA2AD, #EEE5DE);
	/*--OPERA & IE9 DO NOT SUPPORT GRADIENT BACKGROUNDS--*/
	background: -moz-linear-gradient(top, #EEA2AD, #EEE5DE);
	background: -webkit-gradient(linear, center top, center bottom, from(#EEA2AD), to(#EEE5DE));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEA2AD', endColorstr='#EEE5DE');
	/*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
	/*Element must have a height (not auto)*/
	/*All filters must be placed together*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEA2AD', endColorstr='#EEE5DE')";
}

#options {
	width: 300px;
	float: left;
	margin-left: 50px;
	margin-top: 30px;
	text-align: right;
	font-size: 12px;
	padding: 20px;
	
	border-radius: 34px;
	-moz-border-radius: 34px;
	-webkit-border-radius: 34px;
	/*IE DOES NOT SUPPORT BORDER RADIUS*/
	box-shadow:0px 0px 16px #000000;
	-moz-box-shadow:0px 0px 16px #000000;
	-webkit-box-shadow:0px 0px 16px #000000;
	/*IE DOES NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
	background: linear-gradient(top, #EEA2AD, #EEE5DE);
	/*--OPERA & IE9 DO NOT SUPPORT GRADIENT BACKGROUNDS--*/
	background: -moz-linear-gradient(top, #EEA2AD, #EEE5DE);
	background: -webkit-gradient(linear, center top, center bottom, from(#EEA2AD), to(#EEE5DE));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEA2AD', endColorstr='#EEE5DE');
	/*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
	/*Element must have a height (not auto)*/
	/*All filters must be placed together*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEA2AD', endColorstr='#EEE5DE')";
}

#options .settings {
	width: 200px;
	margin-left: auto;
	margin-right: auto;
}

#options select {
	font-size: 10px;
	margin-left: 10px;
	xtext-align: right;
	width: 75px;
}

#options .heading {
	font-weight: bold;
	text-align: left;
	display: block;
	margin-top: 30px;
	margin-bottom: 10px;
	margin-left: 30px;
}

#options ul{
	text-align: left;
}

a{
	text-decoration: none;
	color: #555;
}

a:hover{
	color: #AAA;
}

#high .button{
	display: block;
	padding: 2px;
	margin-top: 10px;
	border: solid grey 1px;
	width: 75px;
	margin-left: auto;
	margin-right: auto;
	background-color: #EEE;
	font-size: 10px;
}
	
