body {
	margin:0px 0px; padding:0px;
	text-align:center;
	}
	
#page2 {
	width:500px;
	margin:0px auto;
	text-align:center;
	padding:15px;
	border:1px groove #333;
	background-color:#eff;
	}
	
#page {
	width:500px;
	margin:0px auto;
	text-align:center;
	padding:15px;
	border-radius:34px;
	-moz-border-radius:34px;
	-webkit-border-radius:34px;
	/*IE DOES NOT SUPPORT BORDER RADIUS*/
	box-shadow:0px 0px 16px #000000;
	-moz-box-shadow:0px 0px 16px #000000;
	-webkit-box-shadow:0px 0px 16px #000000;
	/*IE DOES NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
	background: linear-gradient(top, #63b0ff, #c2eeff);
	/*--OPERA & IE9 DO NOT SUPPORT GRADIENT BACKGROUNDS--*/
	background: -moz-linear-gradient(top, #63b0ff, #c2eeff);
	background: -webkit-gradient(linear, center top, center bottom, from(#63b0ff), to(#c2eeff));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b0ff', endColorstr='#c2eeff');
	/*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
	/*Element must have a height (not auto)*/
	/*All filters must be placed together*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b0ff', endColorstr='#c2eeff')";
	/*Element must have a height (not auto)*/
	/*All filters must be placed together*/

}
	
#canvas {
	 borderx: 1px solid black; 
	 xbackground-color: #ddd;
	 margin: auto;
	}
	
#banner {
	background-color: #333;
	color: #eee;
	margin-bottom: 20px;
	text-align: right;
	padding: 5px 40px 5px 0px;
}
	
#intro {
	font-family:"Times New Roman", Times, serif;
	font-style:normal;
	font-size:14px;
	margin-bottom: 5px;
}

#score {
	zdisplay: inline;
	xmargin-left: 365px;
	float: right;
	xborder: red solid 1px;
}

#lives {
	text-align: left;
	color: #f00;
	font-family: Times, serif;
	font-weight: bold;
	width: 490px;
	xborder: blue solid 1px;
	float: left;
}